.btn-green,
.btn-green-outline,
.btn-red,
.btn-red-outline {
	border-radius: 2em;
	box-shadow: none;
	font-size: 18px;
	padding: 10px 25px;
	color: #fff;
	min-width: 200px;
	text-transform: uppercase;
}

.btn-green-sm,
.btn-green-outline-sm,
.btn-red-sm,
.btn-red-outline-sm {
	border-radius: 2em;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	min-width: 120px;
	padding: 5px 20px;
	text-align: center;
	text-transform: uppercase;
}

.btn-green,
.btn-green-sm {
	border: 1px solid #66cc33;
	background-color: #66cc33;
	color: #fff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green-sm:hover,
.btn-green-sm:focus {
	color: #fff;
	box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
		0 1px 3px 1px rgba(60, 64, 67, 0.16);
	transition: box-shadow 135ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-red,
.btn-red-sm {
	border: 1px solid #eb3b2d;
	background-color: #eb3b2d;
	color: #fff;
}

.btn-red:hover,
.btn-red:focus,
.btn-red-sm:hover,
.btn-red-sm:focus {
	border: 1px solid #eb3b2d;
	background-color: #eb3b2d;
	color: #fff;
	box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
		0 1px 3px 1px rgba(60, 64, 67, 0.16);
	transition: box-shadow 135ms cubic-bezier(0.4, 0, 0.2, 1);
}
